{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
{{ if eq .chezmoi.osRelease.id "solus" -}}
# TODO: add carapace, wezterm to eopkg
# TODO: move ast-grep to eopkg
sudo eopkg install -y -c system.devel
sudo eopkg install -y nushell neovim keepassxc yazi git zoxide ripgrep fzf fd rustup tree-sitter docker docker-compose lazygit nodejs mpd ncmpcpp vlc ffmpeg juliaup
sudo eopkg dc
juliaup update
rustup update
cargo install ast-grep
{{ end -}}
{{ end -}}

