{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
{{ if eq .chezmoi.osRelease.id "solus" -}}
# TODO: add carapace, wezterm to eopkg
# TODO: move ast-grep to eopkg
sudo eopkg install -y -c system.devel
sudo eopkg install -y nushell neovim keepassxc yazi git zoxide ripgrep fzf fd rustup tree-sitter docker docker-compose lazygit nodejs mpd ncmpcpp vlc ffmpeg juliaup font-firacode-nerd luarocks clang sqlite3-devel pip
sudo eopkg dc
sudo luarocks install lsqlite3
sudo npm install -g neovim
pip install neovim mmdc
juliaup update
rustup update
cargo install ast-grep tree-sitter-cli
{{ end -}}
{{ end -}}

