{{ if eq .chezmoi.os "windows" -}}
$links = @(
    @{ Path = "$env:LOCALAPPDATA\nvim"; Target = "$HOME\.config\nvim" },
    @{ Path = "$env:LOCALAPPDATA\lazygit"; Target = "$HOME\.config\lazygit" },
    @{ Path = "$env:APPDATA\nushell"; Target = "$HOME\.config\nushell" }
)

foreach ($link in $links) {
    New-Item -ItemType SymbolicLink -Path $link.Path -Target $link.Target -Force
}
{{ end -}}
