{{ if eq .chezmoi.os "windows" -}}
{{ if eq .chezmoi.username "CORP\\p_dydyshka" -}}
return {
  "neovim/nvim-lspconfig",
  opts = {
    servers = {
      basedpyright = {
        settings = {
          python = {
            pythonPath = "C:/Python313/python.exe",
          },
        },
      },
    },
  },
}
{{ end -}}
{{ else -}}
return {}
{{ end -}}
