return {
  "neovim/nvim-lspconfig",
  opts = {
    servers = {
      lua_ls = {
        root_markers = {
          ".git",
        },
      },
      basedpyright = {
{{- if eq .chezmoi.os "windows" -}}
{{ if eq .chezmoi.username "CORP\\p_dydyshka" }}
        settings = {
          python = {
            pythonPath = "C:/Python313/python.exe",
          },
        },
{{ end }}
{{- end }}
        root_markers = { "pyproject.toml", "pyrightconfig.json", "basedpyrightconfig.json" },
        reuse_client_add_workspace = true,
      },
      ruff = {
        root_markers = { "pyproject.toml", "ruff.toml" },
        reuse_client_add_workspace = true,
      },
    },
  },
}
