
{{ if eq .chezmoi.os "windows" -}}
vim.o.shellcmdflag = '-c'  -- neovim defaults to /s /c on windows
vim.o.shellquote = ''
vim.o.shellxquote = ''
{{ if eq .chezmoi.username "CORP\\p_dydyshka" -}}
vim.g.python3_host_prog = "C:/Python313/python.exe"
vim.g.autoformat = false
vim.filetype.add({ extension = { as = "actionscript" } })
vim.filetype.add({ extension = { def = "xml" } })
vim.filetype.add({ extension = { prefab = "xml" } })
{{- end }}
{{ end }}
vim.opt.list = false
vim.opt.listchars = {
  tab = '→ ',
  space = '·',
  trail = '•',
  eol = '↵',
}
